@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
}

.menu-transition {
  transition: height 0.3s ease-out;
  height: 0;
  overflow: hidden;
}

.menu-transition-active {
  height: 100vh;
}

